body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 150%;
}

.provider {
    display: inline;
    margin: 1em;
}

a.login {
    padding: 1em;
}

label {
    display: inline-block;
    float: left;
    clear: left;
    cursor: pointer;
    cursor: hand;
}

.action {
    display: inline-block;
    float: left;
    clear: left;
}

input:focus {
    border: 2px solid #000;
}


input {
    border: 2px solid #ccc;
}

input, button {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    display: inline-block;
    float: left;
}

button {
    margin: 1em;
    padding: 1em;
    cursor: pointer;
    cursor: hand;
}

.tabs {
  position: relative;
  min-height: 90vh; /* This part sucks */
  clear: both;
  margin: 25px 0;
}
.tab {
  float: left;
}
.tab label {
  background: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: -1px;
  position: relative;
  left: 1px;
  line-height: 100%;
}
.tab [type=radio] {
  display: none;
}
.content {
  position: absolute;
  top: 30px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc;
  overflow: auto;
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}
