body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 150%;
}

.inputGroupFields {
    margin-left: 10px;
}
.inputGroupLabel {
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left:10px;
    border-radius: 5px;
}
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 150px;
    cursor: pointer;
    cursor: hand;
}
input, select, .staticField {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    display: inline-block;
    float: left;
}
.actions{
    display: inline-block;
    float: left;
    clear: left;
}

input {
    border: 2px solid #ccc;
}

input:focus {
    border: 2px solid #000;
}
