body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 150%;
}

.inputGroup {
    margin-bottom: 10px;
    display: inline-block;
    float: left;
}

.inputGroupFields {
    margin-left: 10px;
}
label {
    cursor: pointer;
    cursor: hand;
}
.inputGroup label {
    display: inline-block;
    float: left;
    clear: left;
    width: 150px;
}
input, select, button, .staticField {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    display: inline-block;
    float: initial;
}
.actions{
    display: inline-block;
    float: left;
    clear: left;
}

input {
    border: 2px solid #ccc;
}

input:focus, input:hover {
    border: 2px solid #000;
}
input[type="text"] {
    width: 200px;
}
button {
    margin: 1em;
    padding: 1em;
    cursor: pointer;
    cursor: hand;
}
.action {
    display: inline-block;
    float: left;
    clear: left;
}
.signature {
    font-family: "Brush Script MT",cursive;
    font-size: 250%;
    font-weight: lighter;
    border-bottom: 1px solid #000;
    white-space: nowrap;
}
.staticField > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tabs {
  position: relative;
  min-height: 90vh; /* This part sucks */
  clear: both;
  margin: 25px 0;
}
.tab {
  float: left;
}
.tab label {
  background: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: -1px;
  position: relative;
  left: 1px;
  line-height: 100%;
}
.tab [type=radio] {
  display: none;
}
.content {
  position: absolute;
  top: 30px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc;
  overflow: auto;
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}

tr.selectable:hover {
    background: WhiteSmoke;
}

tr.selected {
    background: MintCream;
}
