body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 150%;
}

.inputGroup {
    margin-bottom: 10px;
    display: inline-block;
    float: left;
}

.inputGroupFields {
    margin-left: 10px;
}
label {
    display: inline-block;
    float: left;
    clear: left;
    width: 150px;
    cursor: pointer;
    cursor: hand;
}
input, select, button, .staticField {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    display: inline-block;
    float: initial;
}
.actions{
    display: inline-block;
    float: left;
    clear: left;
}

input {
    border: 2px solid #ccc;
}

input:focus, input:hover {
    border: 2px solid #000;
}
input[type="text"] {
    width: 200px;
}
button {
    margin: 1em;
    padding: 1em;
    cursor: pointer;
    cursor: hand;
}
.action {
    display: inline-block;
    float: left;
    clear: left;
}
.signature {
    font-family: "Brush Script MT",cursive;
    font-size: 250%;
    font-weight: lighter;
    border-bottom: 1px solid #000;
    white-space: nowrap;
}
.staticField > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
